body {
    background-color: #85a389;
    font-family: "Poppins", sans-serif;
}

.text_container
{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1496522650602-5988dce09660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.heading
{
    margin-bottom: 3%;
    opacity: 0.1;
}

.heading:hover
{
    transition: 500ms ease-in-out;
    opacity: 100;
    color: #080202;
}

.content_container
{
    display: flex;
    justify-content: center;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
}

.animal_grid_container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    width: 100vw;
    height: auto;
    place-items: center;
}

.animal_image_container img
{
    display: flex;
    border-radius: 50%;
    width: 161px;
    height: 160px;
    object-fit: cover;
    transition: 500ms ease-in-out;
    justify-items: center;
    align-items: center;
}

.animal_image_container img:hover
{
    filter: drop-shadow(-40px -5px #A2CDB0);
    rotate: 10deg;
}


.content span
{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    text-align: center;
    font-size: larger;
}

.form_container
{
    display: grid;
    height: 600px;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 6%;
    color: #080202;
}

button
{
    border: none;
}